# Database — Supabase + Prisma
DATABASE_URL=postgresql://postgres:password@db.ref.supabase.co:5432/postgres
DATABASE_URL_UNPOOLED=postgresql://postgres:password@db.ref.supabase.co:6543/postgres?pgbouncer=true